body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(53,27,110,1) 50%, rgba(0,0,0,1) 100%);
}


.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
}

.bg-purple-1000 {
    background-color: red;
}

.music-bg {
    background-size: cover;
    height: 365px;
    width: 100%;
    padding: 10px 15px;
}